@charset "UTF-8";
.copyright__descr, .footer__descr, .footer__info, .footer__text, .footer__menu-item, .wrap__logo-descr, .blog__info-text, .table__descr, .money__item-descr, .help__item-descr, .test__link, .skills__item-descr, .info__skills-descr, .education__item-descr, .tech__skills a, .scholl__red, .scholl__container-descr, .menu__list-link, body {
  font-family: "Gilroy-Regular";
  font-weight: 400;
}

.video__watch, .header__validation-link {
  font-family: "Gilroy-Medium";
  font-weight: 500;
}

.help__item-title, .test__descr, .skills__item-text, .education__item-title, .tech__skills__descr, .text__font {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}

table tfoot td, table thead, .skills__item-title, .scholl__container-name {
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Gilroy-Regular.woff2) format(woff2), url(../fonts/Gilroy-Regular.woff) format(woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Gilroy-Medium.woff2) format(woff2), url(../fonts/Gilroy-Medium.woff) format(woff);
}
@font-face {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Gilroy-Semibold.woff2) format(woff2), url(../fonts/Gilroy-Semibold.woff) format(woff);
}
@font-face {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Gilroy-Bold.woff2) format(woff2), url(../fonts/Gilroy-Bold.woff) format(woff);
}
.copyright__descr, .footer__descr, .footer__info, .footer__text, .footer__menu-item, .wrap__logo-descr, .blog__info-text, .table__descr, .money__item-descr, .help__item-descr, .test__link, .skills__item-descr, .info__skills-descr, .education__item-descr, .tech__skills a, .scholl__red, .scholl__container-descr, .menu__list-link, body {
  font-family: "Gilroy-Regular";
  font-weight: 400;
}

.video__watch, .header__validation-link {
  font-family: "Gilroy-Medium";
  font-weight: 500;
}

.help__item-title, .test__descr, .skills__item-text, .education__item-title, .tech__skills__descr, .text__font {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}

table tfoot td, table thead, .skills__item-title, .scholl__container-name {
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Gilroy-Regular.woff2) format(woff2), url(../fonts/Gilroy-Regular.woff) format(woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Gilroy-Medium.woff2) format(woff2), url(../fonts/Gilroy-Medium.woff) format(woff);
}
@font-face {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Gilroy-Semibold.woff2) format(woff2), url(../fonts/Gilroy-Semibold.woff) format(woff);
}
@font-face {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Gilroy-Bold.woff2) format(woff2), url(../fonts/Gilroy-Bold.woff) format(woff);
}
body {
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 13.572px;
  color: #22253B;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border-radius: 82px;
  background: #FF501F;
}

.button__link {
  color: #FFF;
  font-size: 20px;
  line-height: 96.688%; /* 19.338px */
  letter-spacing: -0.6px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  padding-top: 12px;
  position: relative;
  z-index: 100;
  background-color: #F9F8FD;
  padding-bottom: 21px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  min-height: 51px;
}
.header__logo {
  margin-left: 21px;
}

.header__validation {
  margin-right: 11px;
  color: #3C3E50;
  font-size: 13px;
  line-height: 104.4%;
  /* 13.572px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__validation-arrow {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__validation-link {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 104.4%;
}
.header__validation-registration {
  margin-right: 15px;
}
.header__validation-registration a {
  color: #FF501F;
}
.header__validation-registration a:hover {
  color: #22253B;
}
.header__validation-inner {
  background: #FF501F;
  border-radius: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78px;
  height: 30px;
}
.header__validation-inner:hover {
  cursor: pointer;
  background-color: rgba(125, 168, 191, 0.44);
  color: #FFF;
}

.menu {
  margin-left: 73px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 41px;
  list-style: none;
}
.menu__list-link {
  text-align: center;
  font-size: 17px;
  line-height: 104.4%;
  color: #476791;
}
.menu__list-link:hover {
  cursor: pointer;
  color: #FF501F;
}

.main {
  background-color: #F9F8FD;
}

.scholl {
  background-image: url(../images/bg-scholl.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.scholl__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 620px;
}
.scholl__container-text {
  position: relative;
}
.scholl__container-name {
  color: #FFF;
  font-size: 50px;
  line-height: 60px;
  margin: 70px 0px 45px;
  max-width: 655px;
}
.scholl__container-descr {
  color: #91D7EC;
  line-height: 23px;
  /* 143.75% */
  max-width: 365px;
  margin-bottom: 45px;
}
.scholl__container-img img {
  max-width: 505px;
  height: 490px;
}

.scholl__red {
  color: #91D7EC;
  font-size: 64px;
  font-weight: 400;
  line-height: 46px;
}

.text__font {
  color: #476791;
  font-size: 46px;
  line-height: 46px;
  /* 100% */
  padding-bottom: 34px;
}

.scholl__button {
  width: 321px;
  height: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scholl__button-arrow {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .scholl__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .scholl__container-name {
    max-width: 635px;
    text-align: center;
  }
  .scholl__container-descr {
    margin: 0 auto;
    padding-bottom: 21px;
  }
  .scholl__red,
  .text__font {
    text-align: center;
  }
  .info__skills-box {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .scholl__container-name {
    font-size: 36px;
  }
  .scholl__red,
  .text__font {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .scholl__container-name {
    line-height: 53px;
    margin: 24px 0px 27px;
  }
  .scholl__container-descr {
    font-size: 12px;
    line-height: 150%;
    max-width: 270px;
  }
  .scholl__red,
  .text__font {
    font-size: 24px;
    line-height: 100%;
    max-width: 213px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .scholl__container-name {
    font-size: 21px;
    max-width: 270px;
    padding-top: 24px;
    margin: 0 auto;
    padding-bottom: 27px;
    line-height: 35px;
  }
  .scholl__container-name::before {
    bottom: 78px;
    left: 10px;
  }
}
.tech {
  text-align: center;
  color: #FFF;
  padding-top: 100px;
}
.tech__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 59px;
  border-radius: 48px;
  background-image: url(../images/bg-help.png);
}

.tech__img {
  margin-left: 122px;
  padding-top: 24px;
}
.tech__img img {
  max-width: 100%;
  height: 352px;
}

.tech__skills {
  padding-top: 60px;
  color: #FFF;
  font-size: 17px;
  line-height: 46px;
  /* 270.588% */
  max-width: 482px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 11px;
  height: 157px;
}
.tech__skills a {
  color: #FFF;
}
.tech__skills a:hover {
  background-color: red;
}
.tech__skills-one {
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
  width: 311px;
  height: 45.133px;
}
.tech__skills-two {
  width: 89px;
  height: 45.133px;
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
}
.tech__skills-three {
  width: 151.165px;
  height: 45.133px;
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
}
.tech__skills-four {
  width: 277.481px;
  height: 45.133px;
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
}
.tech__skills-five {
  width: 258px;
  height: 45px;
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
}
.tech__skills-six {
  width: 95px;
  height: 45.133px;
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
}
.tech__skills-seven {
  width: 93.833px;
  height: 45.133px;
  border-radius: 44px;
  background: rgba(125, 168, 191, 0.44);
}
.tech__skills__descr {
  margin-top: 25px;
  max-width: 386px;
  color: #FFF;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

@media (max-width: 1100px) {
  .tech__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tech__img {
    margin-left: 0;
  }
  .tech__skills {
    height: 515px;
  }
}
@media (max-width: 768px) {
  .tech {
    padding-top: 60px;
  }
  .tech__container {
    grid-gap: 0;
  }
  .tech__skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
  }
  .tech__img img {
    height: 221px;
  }
}
@media (max-width: 480px) {
  .tech__title {
    font-size: 20px;
  }
  .tech__skills {
    font-size: 14px;
    max-width: 260px;
    padding-top: 34;
  }
  .tech__skills__descr {
    font-size: 14px;
  }
  .tech__img {
    padding-top: 0;
  }
}
.education {
  padding: 100px 0px 100px;
}
.education__title {
  text-align: center;
  margin: 0 auto;
}
.education__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 26px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education__item {
  border-radius: 30px;
  background: #476791;
  width: 270px;
  min-height: 254px;
  padding: 50px 32px 31px;
  color: #22253B;
  text-align: center;
}
.education__item img {
  max-width: 72px;
  height: 72px;
}
.education__item-title {
  font-size: 16px;
  line-height: 18.5px;
  padding-top: 19px;
  margin-bottom: 10px;
  color: #FFF;
}
.education__item-descr {
  max-width: 200px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  /* 115.385% */
}

.education__item:nth-child(odd) {
  background-color: #91D7EC;
}

@media (max-width: 1200px) {
  .education__item:last-child {
    max-width: 300px;
    min-height: 86px;
  }
}
@media (max-width: 768px) {
  .education {
    padding: 60px 0px 12px;
  }
}
@media (max-width: 480px) {
  .education .education__list {
    grid-gap: 10px;
  }
  .education-df {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 17px;
    padding: 19px 45px;
    max-width: 300px;
  }
  .education-df-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 153px;
    text-align: left;
  }
  .education__item {
    max-width: 145px;
    min-height: 175px;
    padding: 24px 20px 20px;
  }
  .education__item-title {
    width: 103px;
    font-size: 12px;
    line-height: 12px;
    padding-top: 9px;
    height: 40px;
  }
  .education__item-descr {
    max-width: 126px;
    font-size: 9px;
    line-height: 12px;
  }
  .education__item img {
    max-width: 40px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .education__title {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .education__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .education__item {
    max-width: 140px;
  }
}
.info__skills {
  position: relative;
  text-align: center;
}
.info__skills-descr {
  color: #22253B;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  /* 125% */
  max-width: 642px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 28px;
}

.info__skills-button {
  width: 299px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__skills-button:hover {
  background-color: rgba(125, 168, 191, 0.44);
  color: #FFF;
}

.skills__item:last-child::before {
  display: none;
}

.info__skills-list {
  background-image: url(../images/bg-help\ 1.png);
  background-repeat: no-repeat;
  background-size: 1160px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 349px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 56px;
  margin-bottom: 36px;
}

.info__skills-box {
  max-width: 321px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__skills-box:hover {
  background-color: rgba(125, 168, 191, 0.44);
  color: #FFF;
}

.skills__item {
  position: relative;
  padding-top: 56px;
  text-align: left;
}
.skills__item-title {
  color: #FFF;
  font-size: 77px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 40px;
}
.skills__item-text {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  /* 125% */
  margin-bottom: 20px;
}
.skills__item-descr {
  color: #FFF;
  font-size: 16px;
  line-height: 23px;
  /* 143.75% */
  max-width: 282px;
}
.skills__item::before {
  content: "";
  position: absolute;
  width: 259px;
  height: 1px;
  background-image: url(../images/line-item.png);
  -webkit-transform: rotate(271deg);
      -ms-transform: rotate(271deg);
          transform: rotate(271deg);
  bottom: 171px;
  left: 185px;
}

.video__bg {
  background-image: url("../images/keep-it.png");
  background-size: 762px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 442px;
  position: relative;
}
.video__bg iframe {
  margin-top: 27px;
  background-color: #3C3E50;
}

.fg {
  background-color: #3C3E50;
}

.video:hover {
  cursor: pointer;
}
.video__watch {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 96.688%;
  /* 19.338px */
  letter-spacing: -0.6px;
  position: absolute;
  top: 105px;
  left: 43%;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 24px;
  border-radius: 110px;
  background: #FFF;
  width: 538px;
  height: 93px;
  margin: 0 auto;
  padding: 12px 24px 37px 24px;
  margin-bottom: 90px;
}
.test__link {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 96.688%;
  letter-spacing: -0.48px;
}
.test__descr {
  color: #22253B;
  font-size: 15px;
  line-height: 18px;
  max-width: 214px;
  text-align: left;
  margin-top: 8px;
}
.test__arrow {
  margin-left: 12px;
}

@media (max-width: 1000px) {
  .info__skills-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__item::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .video {
    background-size: 58px;
    top: 96px;
  }
  .video__watch {
    top: 61px;
    left: 40%;
  }
  .video__bg {
    background-size: 500px;
  }
  .video__bg iframe {
    width: 378px;
    height: 236px;
    margin-top: 19px;
  }
}
@media (max-width: 480px) {
  .video {
    top: 46px;
  }
  .video__watch {
    display: none;
  }
  .video__bg {
    background-size: 299px;
    height: 173px;
  }
  .video__bg iframe {
    width: 228px;
    height: 144px;
    margin-top: 11px;
  }
  .info__skills-list {
    margin-top: 22px;
    background-repeat: repeat;
  }
  .info__skills-descr {
    max-width: 276px;
    font-size: 12px;
    margin-bottom: 33px;
  }
  .skills__item {
    padding-top: 15px;
    text-align: center;
  }
  .skills__item-title {
    font-size: 50px;
    line-height: 30px;
  }
  .skills__item-text {
    font-size: 20px;
    margin-bottom: 14px;
    line-height: 19px;
  }
  .skills__item-descr {
    font-size: 12px;
    margin-bottom: 19px;
    line-height: 19px;
  }
  .skills__item::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-image: url(../images/line-item.png);
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 208px;
    left: 50px;
  }
  .skills__item:first-child::after {
    display: none;
  }
  .skills-mr {
    margin-right: 24px;
  }
  .test {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 300px;
  }
  .test__descr {
    font-size: 13px;
    max-width: 249px;
    text-align: center;
    margin-top: -15px;
  }
  .info__skills-button {
    max-width: 249px;
  }
}
@media (max-width: 320px) {
  .info__skills-box {
    max-width: 299px;
  }
  .skills__item::after {
    left: 30px;
  }
}
.help {
  border-radius: 80px;
  background: #FFF;
  padding: 55px 0px 77px;
}
.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 29px;
}

.help__item {
  text-align: left;
}
.help__item-title {
  color: #FFF;
  font-size: 32px;
  line-height: 30px;
  /* 93.75% */
  margin-bottom: 18px;
}
.help__item-descr {
  color: #22253B;
  font-size: 16px;
  line-height: 25px;
  /* 156.25% */
  max-width: 435px;
}

.help__hyphenation {
  max-width: 549px;
}

.help__hyphenation-two {
  max-width: 502px;
}

.help__item:nth-child(3) {
  width: 730px;
  height: 313px;
  padding: 54px 54px 49px 100px;
  background: #91D7EC;
  border-radius: 40px;
}

.help__item:nth-child(2) {
  width: 730px;
  height: 313px;
  padding: 54px 54px 49px 100px;
  background: #476791;
  border-radius: 40px;
}

.help__item:nth-child(1),
.help__item:nth-child(4) {
  width: 401px;
  height: 313px;
  border-radius: 40px;
  background-image: url(../images/bg-help.png);
  padding: 41px 65px;
}

@media (max-width: 1200px) {
  .help__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .help__list {
    padding: 0;
  }
  .help__item:nth-child(2),
  .help__item:nth-child(3) {
    width: 300px;
    height: 285px;
    padding: 38px 0px 38px 20px;
  }
  .help__item:nth-child(1),
  .help__item:nth-child(4) {
    width: 300px;
    height: 243px;
    padding: 34px 48px;
  }
  .help__item-title {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 18px;
  }
  .help__item-descr {
    font-size: 12px;
    line-height: 17px;
    max-width: 257px;
  }
}
.money {
  margin: 100px 0 0px;
}
.money__title {
  text-align: center;
}
.money__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.money__item {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 29px;
}
.money__item-descr {
  color: #22253B;
  font-size: 16px;
  line-height: 21px;
  /* 156.25% */
}

.money-db {
  content: "";
  background-image: url(../images/money.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 30px;
  display: none;
}

table {
  width: 100%;
  /* Ширина таблицы */
  border-spacing: 0;
  /* Расстояние между ячейками */
  text-align: left;
  border-radius: 30px;
  background: #FFF;
  margin-top: 41px;
}
table thead {
  color: #91D7EC;
  font-size: 16px;
  line-height: 119%;
}
table thead th {
  padding: 0px 0px 15px 21px;
}
table tfoot td {
  color: #22253B;
  font-size: 24px;
  line-height: 25px;
  /* 104.167% */
}

td {
  padding: 17px 41px 15px 19px;
}

.first tr,
.three tr,
.five tr,
.seven tr {
  border-radius: 10px;
  background: #F3F3F3;
}

.money__table-inner {
  max-width: 1160px;
  padding: 39px;
}

.table__descr {
  color: #3C3E50;
  font-size: 16px;
  line-height: 25px;
  /* 156.25% */
  margin-bottom: 33px;
  margin-left: 58px;
  margin-top: 25px;
}

@media (max-width: 1200px) {
  .money__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .money {
    margin: 60px 0 0px;
  }
  .money__item {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 29px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .money__table-inner {
    padding: 0;
  }
  .money-db {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
  }
}
.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 23px;
  border-radius: 30px;
  background: #91D7EC;
  padding: 65px 54px;
}
.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
}
.blog__info-btn {
  width: 311px;
  height: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog__info-btn:hover {
  background-color: rgba(125, 168, 191, 0.44);
  color: #FFF;
}
.blog__info-text {
  max-width: 600px;
  font-size: 17px;
  line-height: 22px;
  /* 156.25% */
  color: #22253B;
}

@media (max-width: 768px) {
  .blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .blog__info {
    grid-gap: 17px;
  }
  .blog__info-btn {
    width: 257px;
    height: 60px;
  }
  .blog__info-text {
    max-width: 257px;
    font-size: 12px;
  }
  .button__link {
    font-size: 15px;
    line-height: 97%;
    letter-spacing: -0.03em;
  }
}
.wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 40px;
  padding-top: 67px;
}

.wrap__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 19px;
}
.wrap__logo-descr {
  color: #FFF;
  font-size: 16px;
  line-height: 19px;
  /* 118.75% */
}

.wrap__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 16px;
}
.wrap__social img:hover {
  cursor: pointer;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 166px;
  padding-top: 42px;
}

.footer__menu-title {
  color: #22253B;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.footer__menu-item {
  font-size: 13px;
  line-height: 104.4%;
  /* 13.572px */
  margin-top: 24px;
}
.footer__menu-link {
  color: #22253B;
}
.footer__menu-link:hover {
  color: #FF501F;
}

.footer__text {
  color: #91D7EC;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  /* 143.75% */
}

.footer__info {
  margin-top: 4px;
  color: #22253B;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  /* 143.75% */
}

.footer__descr {
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  /* 143.75% */
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 74px 0px 32px;
  position: relative;
}
.copyright::before {
  content: "";
  background-image: url(../images/line-copyright.png);
  width: 1160px;
  height: 1px;
  position: absolute;
  top: 52px;
}
.copyright__descr {
  color: rgba(125, 168, 191, 0.44);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  /* 143.75% */
}

@media (max-width: 768px) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer__item-list {
    grid-gap: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
  .copyright {
    padding: 25px 0px 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .copyright::before {
    top: 11px;
  }
  .copyright__descr {
    font-size: 12px;
  }
}
.validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.validation-one {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-nav-button {
  /* Reset for button */
  cursor: pointer;
  margin-top: -9px;
  border: none;
  background: transparent;
  /* Nav icon styles*/
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: -100;
}

.bg {
  background-color: #F9F8FD;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .mobile-nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-nav-button__icon {
    display: block;
    position: relative;
    width: 54px;
    height: 5px;
  }
  .mobile-nav-button__icon::before {
    left: 0;
    top: -10px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 20px;
    padding-top: 77px;
    text-align: center;
    border-radius: 20px;
    width: 256px;
    height: 576px;
    margin-left: auto;
    background: #FFF;
    z-index: -99;
  }
  .mobile-nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-nav-list {
    font-size: 57px;
    margin-top: -69px;
  }
  .mobile-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
  }
  .mobile-login > * + * {
    margin-left: 30px;
  }
  .mobile-nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobile-nav-button__icon {
    display: block;
    position: relative;
    width: 54px;
    height: 5px;
    background-color: #FF501F;
  }
  .mobile-nav-button__icon::after,
  .mobile-nav-button__icon::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 5px;
    background-color: #FF501F;
    /* Трансформация при закрывании */
    -webkit-transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  }
  .mobile-nav-button__icon::before {
    left: 0;
    top: -10px;
  }
  .mobile-nav-button__icon::after {
    left: 0;
    top: 10px;
  }
  .mobile-nav-button__icon.active {
    background-color: transparent;
  }
  .mobile-nav-button__icon.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    /* Трансформация при открывании */
    -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  }
  .mobile-nav-button__icon.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    /* Трансформация при открывании */
    -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  }
  .menu__list-link {
    font-size: 20px;
    line-height: 100%;
  }
  .header__validation-registration {
    display: none;
  }
  .mobile-nav-button .header__validation {
    margin-left: 0;
    margin-top: 187px;
  }
}