@import "vars";
@import "font";

body {
    min-width: 320px;
    overflow-x: hidden;
    @extend %gilroyregular-400;
    font-size: 16px;
    line-height: 13.572px ;
    color: $default-color;
  }

.container {
    max-width:1190px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
.button {
  border-radius: 82px;
  background: $red-color;
}
  
.button__link {
  color: $white-color;
  font-size: 20px;
  line-height: 96.688%; /* 19.338px */
  letter-spacing: -0.6px;
}
