$default-color: #22253B;
$red-color: #FF501F;
$white-color: #FFF;
$blue-color:rgba(125, 168, 191, 0.44);
$blue-color-one:#476791;
$blue-color-two:#91D7EC;
$white-color-one:#F9F8FD;
$grey-color:#3C3E50;


%gilroyregular-400{
    font-family: 'Gilroy-Regular';
    font-weight: 400;
}
%gilroymedium-500{
    font-family: 'Gilroy-Medium';
    font-weight: 500;
}

%gilroysemibold-600{
    font-family: 'Gilroy-Semibold';
    font-weight: 600;
}
%gilroybold-700{
    font-family: 'Gilroy-Bold';
    font-weight: 700;
}
